<hello name="{{ name }}"></hello>
<button (click)="color = 'red'">Red</button>
<br />
<br />
<button (click)="color = 'blue'">Blue</button>
<p [style.color]="color">
  Start editing to see some magic happen :)
</p>
<br /><br />
<button (click)="isBlue = true">Blue</button>
<br /><br />
<button (click)="isBlue = false">Default</button>
<div class="box" [class.border_blue]="isBlue">Alo</div>
<progress-bar [progress]="20"> </progress-bar>
<br />
<button (click)="currentProgress=currentProgress+1">Increase progress</button>
<progress-bar [progress]="currentProgress"> </progress-bar>
<app-author-list> </app-author-list>
<!-- Day13 -->
<app-toggle
  [checked]="questions.question1"
  (checkedChange)="isChecked = $event"
>
  <h3>Header 1</h3>
  <label> Question 1 </label>
  <p>Content1</p>
</app-toggle>
<app-toggle [(checked)]="questions.question2" >
  <h3>Header 2</h3>
  <span ngProjectAs = "label"> Question 2 </span>
  <p>Content2</p>
  <button> Skip </button>
</app-toggle>
<ng-container *ngIf="showLast">
  <app-toggle [(checked)]="questions.question3"></app-toggle>
</ng-container>

<!-- //<button (click)="toggleComp.toggle()">Toggle me</button> -->
<input #nameInput type="text" [(ngModel)]="name" />
<button (click)="showLast =!showLast">Toggle show last</button>
